footer {
  .powered {
    @include basic;
    display: flex;
    line-height: 2em;
    margin-bottom: 1em;
    color: #BABABA;
    a {
      &:hover {
        color: $hover-color;
      }
    }
  }
  .copyright {
    @include basic;
    display: flex;
    line-height: 1em;
    margin-top: 1em;
    color: #BABABA;
  }
}
